.sidebar {
  width: 200px;
  background-color: var(--secondary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  width: 120px;
  height: auto;
}

.divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0.8rem 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.5rem 0.8rem;
}

.userIcon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.userName {
  font-size: 0.95rem;
  font-weight: bold;
  margin: 0;
  text-align: left;
  text-transform: capitalize;
}

.userRole {
  font-size: 0.8rem;
  color: #cce3de;
  text-align: left;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  transition: background 0.3s;
}

.menuItem:hover {
  background-color: var(--primary-color);
}

.bottomMenu {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.bottomMenu {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: auto; /* empuja hacia abajo */
}

.logoutButton {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.logoutButton:hover {
  background-color: #c1121f; /* rojo fuerte */
  color: #fff;
}

.logoutButton img {
  width: 20px;
  height: 20px;
}
/* ===== BOTÓN HAMBURGUESA ===== */
.hamburgerBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1001;
}

.hamburgerLine {
  display: block;
  width: 26px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s;
}
.open {
  .hamburgerLine:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: var(--white-color);
  }

  .hamburgerLine:nth-child(2) {
    opacity: 0;
  }

  .hamburgerLine:nth-child(3) {
    background-color: var(--white-color);
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
/* ====== RESPONSIVE ====== */
@media (max-width: 992px) {
  .logoContainer {
    padding: 0;
  }

  .menu,
  .bottomMenu {
    display: none;
  }

  .hamburgerBtn {
    display: block;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 70%;
    background-color: var(--secondary-color);
    flex-direction: column;
    padding: 2rem 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebarOpen {
    left: 0;
  }

  .menu,
  .bottomMenu {
    display: flex;
    margin-bottom: 4rem;
  }

  body.menu-open {
    overflow: hidden;
  }
}
