.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  text-align: left;
}

.left {
  display: block;
  flex: 1;
  height: 100vh;
}

.right {
  flex: 1;
  max-width: 600px;
  padding: 0 80px 0 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
  .logoForm{
    display: none;
  }

.loginTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 2rem;
  line-height: 30px;
}

.loginSubtitle {
  color: #00000080;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 60px;
}

.inputGroup {
  width: 100%;
  position: relative; 
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.inputColumnGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 40px;
}

.input {
  height: 40px;
  padding: 0 40px;
  border: 1px solid #000000;
  border-radius: 8px;
}

.input:placeholder-shown {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 60px;
}
.inputIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(10px);
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0.6;
}

.inputIconRight {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(10px);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.8;
}
.button {
  margin: 20px 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}
.button:disabled {
  background-color: var(--placeholder-color);
  cursor: not-allowed;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footerLink {
  color: var(--primary-color);
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .left {
    display: none;
  }
  .right {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 100px 20px;
  }
  .logoForm{
    display: block;
    margin: 0 auto;
    width: 150px;
  }
  .logoForm img{
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
  }
  .loginSubtitle{
    font-size: 0.8rem;
  }
    .inputGroup span {
    font-size: 0.7rem;
  }
} 