.containerFormulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.containerFormulario form{
    background-color: var(--gray-color);
    padding: 10px 50px 0px 50px;
    border-radius: 15px;
    width: 40%;
}
.containerFormulario h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #1b2f33;
    margin-bottom: 1.5rem;
    text-align: start;
}
.inputGroup {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 100%;
	margin: 20px 0;
	position: relative;
	padding-left: 20px;
}

.inputGroup::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background-color: var(--primary-color);
	border-radius: 4px;
}

.textareaGroup {
	position: relative;
	width: 100%;
	margin: 50px 0px 0px 0px;
	padding-left: 20px;
}

.textareaGroup::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background-color: var(--primary-color);
	border-radius: 4px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
    gap:16px;
	width: 100%;
}

.inputWrapper label {
    text-align: start;
	font-weight: 600;
	font-size: 0.95rem;
	color: #1b2f33;
	margin-bottom: 6px;
}

.inputWrapper input,
.inputWrapper select,
.inputWrapper textarea {
	width: 100%;
	padding: 12px 14px;
	font-size: 1rem;
	color: #1b2f33;
	border: 2px solid #d1d5db;
	border-radius: 10px;
	outline: none;
	background-color: #fff;
	transition: all 0.3s ease;
	box-sizing: border-box;
}

.inputWrapper input:focus,
.inputWrapper select:focus,
.inputWrapper textarea:focus {
	border-color: var(--primary-color);
	box-shadow: 0 0 5px rgba(251, 35, 67, 0.3);
}

.inputWrapper textarea {
	min-height: 240px;
	resize: vertical;
}

.termsBox {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 8px;
	margin-top: 20px;
}

.termsBox label {
	font-size: 14px;
	color: #1b2f33;
	line-height: 1.4;
}

.termsBox a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 600;
}
.termsBox button {
	margin-left: auto;
	margin-bottom: 20px;
	background-color: var(--primary-color);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	width: 180px;
	padding: 10px;
	color: var(--white-color);
}
