.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: white;
}

.primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.primary:hover {
  background-color: var(--primary-color-dark);
  color: white;
}

.primary-outline {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.primary-outline:hover {
  background-color: var(--primary-color-dark);
  color: white;
}

.secondary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.secondary:hover {
  background-color: var(--secondary-color-dark);
  color: white;
}

.secondary-outline {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.secondary-outline:hover {
  background-color: var(--secondary-color-dark);
  color: white;
}

.icon {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 14px;
}
