.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  gap: 20px;
  margin: 40px 0;
  padding: 16px 140px;
}

.left {
  width: 45%;
}

.right {
  width: 45%;
}

.card {
  margin-bottom: 20px;
  padding: 40px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.title {
  color: var(--primary-color);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
