.btn {
  background-color: var(--primary-color);
  color: white;

  padding: 12px 24px;
  opacity: 1;
  border-radius: 8px;
  border: 1px solid transparent;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: SemiBold;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
