.containerEspecialidades,
.containerProductos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 60px auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px; 
  box-sizing: border-box;
}
/* 🔹 Tablets (pantallas medianas) */
@media (max-width: 992px) {
  .containerEspecialidades,
  .containerProductos {
    gap: 40px;
    width: 100%;
  }
}

/* 🔹 Celulares grandes */
@media (max-width: 768px) {
  .containerEspecialidades,
  .containerProductos {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

/* 🔹 Celulares pequeños */
@media (max-width: 480px) {
  .containerEspecialidades,
  .containerProductos {
    flex-direction: column; 
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}