:root {
  font-family: poppins, cursive;
  text-align: center;
  --primary-color: #fb2343;
  --secondary-color: #1b2f33;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
