:root {
  font-family: poppins, cursive;
  text-align: center;
  --primary-color: #fb2343;
  --primary-color-dark: #fb234378;
  --secondary-color: #1b2f33;
  --secondary-color-dark: #1b2f3378;
  --gray-color: #c7c7c728;
  --white-color: #ffffff;
  --placeholder-color: #aaaaaa;
  --border-input-color: #dddddd;
  --light-primary-color: #fb234320;
  --yellow: #fad60d;
  --light-yellow: #fad60d20;
  --blue: #0052d6;
  --light-blue: #0052d620;
  --green: #0bde24;
  --light-green: #07cf1e20;
  --orange: #ff6a00;
  --light-orange: #ff6a0020;
  --gray: #6b7280;
  --light-gray: #6b728020;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
