.container {
  padding: 16px 140px;
}

.subtitle {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: left;
}

.productosGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 40px;

  margin: 40px 0px;
}

@media (min-width: 320px) {
  .container {
    padding: 0;
  }
  .subtitle{
    text-align: center;
  }
  .productosGrid {
    gap: 0;
  }
} 