.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  margin: 40px auto;
  width:90%;
  gap: 20px;
}

.left {
  width: 45%;
}

.right {
  overflow: auto;
  width: 45%;
  height: 51vh;
  padding: 40px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.title {
  color: var(--primary-color);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.personal {
  margin-bottom: 20px;
  padding: 40px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 16px;
}

.nameContainer {
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.tipo {
  font-size: 14px;
  color: #666;
}

.datetime {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
  text-align: right;
}

.label {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.email,
.phone {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.phone {
  margin-bottom: 20px;
}

.repeatButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.tableContainer {
  margin-top: 20px;
  width: 100%;
}
@media (max-width: 425px) {
  .content {
    width: 100%;
    flex-direction: column;
    justify-items: center;
  }
  .left {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .right {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
  .personal {
    padding: 20px;
    gap: 7px;
  }
}
