/*Modal styles*/
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 1300px;
}

/* Estilos para las acciones del modal */

.modalActions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  grid-column: span 2;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modalActions button {
  font-size: 1rem;
}
/* Botones */
.addButton {
  flex: 1;
  height: 45px;
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  padding: 8px 16px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.addButton:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.cancelButton {
  flex: 1;
  height: 45px;
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  padding: 8px 16px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.cancelButton:hover {
  background: var(--white-color);
  color: var(--secondary-color);
}
/* Estilos para las filas del formulario */

.formRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 60px;
  gap: 3rem;
  align-items: stretch;
}
.imagenSection {
  flex: 1;
  justify-content: center;
  gap: 0.5rem;
}
.imagenSection h3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: start;
}
.imagenSection img {
  margin-top: 1rem;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.divider {
  width: 6px;
  background-color: var(--primary-color);
  border-radius: 2px;
  height: 100%;
  min-height: 490px;
}

.datosSection {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.datosSection h3 {
  grid-column: span 2;
}
/* Estilos Inputs,Select y textarea */

.datosSection h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

/* Labels */
.datosSection label {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

/* Inputs y selects */
.datosSection input,
.datosSection select {
  margin-top: 0.3rem;
  padding: 10px;
  border: 2px solid var(--border-input-color);
  border-radius: 8px;
  background-color: var(--gray-color);
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition: all 0.25s ease;
}

/* Hover / focus */
.datosSection input:focus,
.datosSection select:focus {
  border-color: var(--secondary-color);
  background-color: var(--white-color);
  box-shadow: 0 0 0 3px rgba(30, 136, 229, 0.15);
}
/* Placeholder */
.datosSection input::placeholder {
  color: var(--placeholder-color);
}
/* Select */
.datosSection select {
  appearance: none;
  /*Icon de la flechita*/
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23999' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px;
  cursor: pointer;
}
/*RESPONSIVE*/
@media (max-width: 768px) {
  .imagenSection img {
    width: 90%;
    height: auto;
  }
  .divider {
    display: none;
  }
  .modalOverlay {
    overflow-y: auto;
    gap: 20px;
  }
  .modalContent {
    width: 100%;
    padding: 1rem;
    margin: 10px;
  }
  .formRow {
    padding: 0;
    gap: 0;
  }
}
@media (max-width: 425px) {
  .imagenSection img {
    width: 50%;
    height: 50%;
  }
  .divider {
    display: none;
  }
  .modalOverlay {
    overflow-y: auto;
    gap: 20px;
  }
  .modalContent {
    width: 100%;
    padding: 1rem;
    margin: 10px;
    margin-top: 80%;
  }
  .formRow {
    padding: 0;
    gap: 0;
  }
  .modalActions {
    flex-direction: column;
  }
  .datosSection {
    display: block;
  }
}
