.containerCanales {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.containerCanales span {
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
}
