.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding: 48px 140px;
  background-color: #f9fafb; /* gris muy claro */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.kpis {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 20px;
}

.chartsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 20px;
}

.cotizaciones {
  width: 50%;
}

.productos {
  width: 50%;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.modoToggle {
  display: flex;
  background: var(--gray-color);
  border-radius: 20px;
  padding: 4px;
  gap: 4px;
}

.toggleButton {
  background: transparent;
  border: none;
  color: var(--secondary-color);
  padding: 6px 14px;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.toggleButton:hover {
  background-color: var(--light-primary-color);
  color: var(--primary-color);
}

.active {
  background-color: var(--secondary-color);
  color: white;
}
