.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
}

/* Header con título y acciones */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  max-width: 70%;
  word-break: break-word;
}

.actions {
  display: flex;
  gap: 10px;
}

/* Contenido principal */
.content {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Columna izquierda */
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Columna derecha */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.productImage {
  width: 100%;
  /* max-width: 300px; */
  border-radius: 12px;
  object-fit: contain;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
